<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{htmlWebpackPlugin.options.title}}</title>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    #map {
      width: 100vw;
      height: 100vh;
    }
    .popup {
      position: absolute;
      left: 20px;
      bottom: 20px;
      padding: 15px 10px;
      background-color: #fff;
      border: 1px solid #999;
    }
    .form {}
    .form__text-field {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      border: 1px solid #999;
      border-radius: 5px;
      font-size: 14px;
      padding: 5px;
    }
    .form__text-field--fix-height {
      height: 30px;
    }
    .form__text-field:last-child {
      margin-bottom: 0;
    }
  </style>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=963c3670-287a-487a-8c60-9f1d43c03028&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
  <div id="map"></div>
  <div class="popup">{{> "./src/popup.hbs"}}</div>
</body>
</html>
