<form class="form" action="">
    <div class="reviews"></div>
    <input class="form__text-field form__text-field--fix-height" type="text" name="firstName" placeholder="Имя">
    <input class="form__text-field form__text-field--fix-height" type="text" name="secondName" placeholder="Фамилия">
    <textarea class="form__text-field" name="review" cols="30" rows="10" placeholder="Отзыв..."></textarea>
    <button class="btn" name='send' type="button">Добавить</button>
</form>